<!DOCTYPE html>
<html>
<head>
<title>extjs4 - layout</title>
<!-- LIB -->
<link rel="stylesheet" type="text/css" href="../../extjs/resources/css/ext-all-gray.css" />
<script type="text/javascript" src="../../extjs/ext-all.js"></script>
<script type="text/javascript" src="../../extjs/locale/ext-lang-zh_TW.js"></script>

<script type="text/javascript" src="layout.js"></script>

</head>
<body>
<iframe width="100%" height="300" src="//jsfiddle.net/imCrystal/qkjzmuuf/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</body>
</html>
